CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build
*.swp
.Rproj.user
.DS_Store
/ext/googletest/*
data
clang-debug
clang-release
gperf
static-build
release
debug
gprof
