{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}
  <section>
      <h1>About me</h1>
      <p>A bit about me - while I am not drinking craft beer, I am most often trying to get Linux (and Mac) users to use zsh and byobu. . . Oh, wait, you haven't heard of these? Check 'em out :) <a href="https://github.com/robbyrussell/oh-my-zsh">Oh my zsh</a> and <a href="http://byobu.co/downloads.html">Byobu</a>. In my free time I program for fun (I have a bit of a problem), Crossfit (I really have problems), and actively make fun of Windows Users (they have issues, man).</p>
      <br>  
      <p>Okay, just kidding (but not really). Serious now - I'm a graduate student at University of Idaho working on my Masters in Bioinformatics and Computational Biology. I have had an awesome opportunity to work on development of HTS (and other software) with the help of some really outstanding people. It has been a blast and I have learned so much! Thank you to all my mentors and testers.</p>
      <br>
      <p>I would like to thank everyone who is using HTStream. Please, submit issues or questions if you ever run into any problems! HTStream wouldn't be possible without you.</p> 

