<nav>
    <ul>
        <h5><a href="about.html">About</a></h5>
        <h5><a href="install.html">Installation</a></h5>
        <h6><a href="install.html#install_prereq">- Prerequisites</a></h6>
        <!-- <h5><a href="install.html#install_prereq_linux_cmake">- Linux Prereqs CMake</a></h4>
        <h5><a href="install.html#install_prereq_linux_boost_sudo">- Linux Prereqs Boost (sudo)</a></h4>
        <h5><a href="install.html#install_prereq_linux_boost_non_sudo">- Linux Prereqs Boost (non sudo)</a></h4>
        <h5><a href="install.html#install_prereq_mac">- Mac Prereqs</a></h4>-->
        <h6><a href="install.html#install">- Installation HTStream</a></h6>
        <!-- <h5><a href="install.html#trouble_shooting">- Trouble Shooting</a></h4> -->
        <h5><a href="apps.html">Applications</a></h5>
        <h6><a href="apps.html#sd">- Super-Deduper</a></h6>
        <h6><a href="apps.html#qwt">- Quality Window Trimmer</a></h6>
        <h6><a href="apps.html#ct">- Cut Trimmer</a></h6>
        <h6><a href="apps.html#polyat">- Poly AT Tail Remover</a></h6>
        <h6><a href="apps.html#phix">- Phix (or Primer Dimer) Remover</a></h6>
        <h6><a href="apps.html#nremover">- N Remover</a></h6>
        <h6><a href="apps.html#overlapper">- Overlapper</a></h6>
        <h6><a href="apps.html#commonargs">- Common Args</a></h6>
        <h6><a href="apps.html#power">- HTStream POWER!!!</a></h6>
        <h5><a href="about_author.html">About the Author</a></h5>
    </ul>
</nav>
