{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}
    
    <section> 
    <h1>Installation</h1>
    <h2><a class="anchor" id="install_prereq">Install Prerequisites</a></h2>
    <p>Make sure you have Boost libraries installed - version must be greater than 1.56.0</p>
    <p>Additionally, make sure you have Cmake installed - the version must be greater than 2.8</p>
    
    <h3><a class="anchor" id="install_prereq_linux">Install Prerequisites for Linux</a></h3>
    <pre><code>sudo apt-get upgrade
sudo apt-get update
sudo apt-get install cmake # Cmake install - <a href=http://askubuntu.com/questions/610291/how-to-install-cmake-3-2-on-ubuntu-14-04>Additional help here</a>
sudo apt-get install libboost-all-dev # Boost install - <a href=http://askubuntu.com/questions/168053/how-to-install-all-the-boost-development-libraries>Additional help here</a>
rehash #might be needed if you are using zsh</code></pre>

    <h3><a class="anchor" id="install_prereq_mac">Install Prerequisites for Mac</a></h3>
    <pre><p>#Homebrew is required for the following instructions - <a href="http://brew.sh/">Here is a tutorial to install homebrew</a><code>brew upgrade
brew install cmake # Cmake install - <a href="https://cmake.org/install/">Additional help here</a>
brew install boost # Boost install - <a href="http://stackoverflow.com/questions/104322/how-do-you-install-boost-on-macos">Additional help here</a>
rehash #might be needed if you are using zsh</code></pre>
    
    <h1><a class="anchor" id="install">Installation</a></h1>
    <h2>Installation Guide</h2>
    <br>
    <h3>The basic install</h3> 
    <pre><code>git clone https://github.com/ibest/HTStream.git
cd HTStream
mkdir build && cd build
cmake ..
make #install to /usr/local/bin
rehash #might be needed if you are using zsh</code></pre>

    <p>All applications have unit test that can be run</p>
    
    <h1><a class="anchor" id="trouble_shooting">Trouble Shooting</a></h1>

